# General OS Files
**/.DS_Store

# Editor Files
**/.idea
**/.vscode

# Python cache and virtual environment.
**/__pycache__
venv/**

# Data directories
data/corpus/**
data/excel_Files/**
data/features/**
data/models/**

# Hidden Files
hidden-Files/**
