**/.DS_Store

**/.idea
**/.vscode
**/__pycache__

venv/**

data/corpus/**
data/excel_files/**
data/features/**
data/models/**

matlab/eer_bosaris.m
matlab/eer_detplot.m
matlab/hp_filter.m

scripts/**
snippets/**
